* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_5 {
  width: 367px;
  height: 314px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_12 {
  width: 367px;
  height: 314px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_13 {
  width: 71px;
  height: 89px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 22px;
  overflow: hidden;
}
.v15_14 {
  width: 307px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 30px;
  overflow: hidden;
}
.v15_15 {
  width: 46px;
  height: 65px;
  background: url("../images/v15_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 107px;
  overflow: hidden;
}
.v15_16 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_17 {
  width: 46px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v15_18 {
  width: 46px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
