* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_8 {
  width: 526px;
  height: 119px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 98px;
  height: 119px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 125px;
  overflow: hidden;
}
.v10_3 {
  width: 162px;
  height: 58px;
  background: url("../images/v10_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 239px;
  overflow: hidden;
}
.v1_4 {
  width: 162px;
  color: url("../images/v1_4.png");
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_2 {
  width: 162px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
